# generic
.DS_Store
.vagrant
*.Zone.Identifier

# code & config
_service-provider/*
_solr/schema.xml
_src/*
local/*
.env
cypress.config.js
package-lock.json

# remove node_modules
node_modules/*
*/node_modules/*
integration-tests/node_modules/*
frontend/markdown.db
frontend/.markdowndb
